extends ../layouts/default

block content
	#searchDiv.container(style='display:none;margin-top:85px;')
		.row
			.col-md-12
				center
					form(method="GET" action='/search' target='_blank')
						input#global-search-input-box(type='text', placeholder='Search news, fiesta, technologies', name='searchKey', autofocus='')
						input.searchButton(type='submit', border='0', value='Search')

	div#top-page.container(style="margin-top:100px;")
		.exhibit-container
			p.subparts-title(style='background-color: rgba(0, 0, 0, 0.5); z-index: 5; color: white; font-size: 2em; margin-bottom: 10px;')
				b F
				| arm and 
				b I
				| ndustry 
				b E
				| ncounters through 
				b S
				| cience and 
				b T
				| echnology 
				b A
				| genda
			#content-current.exhibit-content
				img#main-img(src='/images/exhibit/exhibit_1.png')
				.thumbnails
					img#exhibit_1.thumbnail-content.current-img(src='/images/exhibit/exhibit_1.png')
					img#exhibit_2.thumbnail-content(src='/images/exhibit/exhibit_2.png')
					img#exhibit_3.thumbnail-content(src='/images/exhibit/exhibit_3.png')
					img#exhibit_4.thumbnail-content(src='/images/exhibit/exhibit_4.png')
			#content-text.exhibit-content
				p#event-title
					b SIPAG FIESTA: Best of 2010-2016
				p#event-text
					em Pushing the Best of SIPAG through FIESTA
					|  showcased the outputs from the various Strategic Industry S&T Programs for Agri-Aqua Growth(SIPAG) conducted by R&D partners in 13 regions of the country.
					|                        Among the outputs were on food delicacies, processed food products, wines, grains, fruits, vegetables, furniture and even clothes— goods that complement a true fiesta celebration.
					hr
				.btn-see-more
					#btn-see-more-inner
						a
							h5
								b
									| SEE MORE

	div.container#exhibit-lists
		h2 DOST PCAARRD FIESTA
		.row
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_1.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_2.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_3.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere

			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_4.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_5.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
			.col-md-4.top-space
				.card
					img.card-img-top(src='/images/exhibit/exhibit_6.png' height="180px")
					.card-block
						h4.card-title Card title
						p.card-text
							| Sample
						p.card-text
							a.btn.btn-primary(href='#') Go somewhere
