extends ../layouts/default

block content
	//- Dynamic Slider from the database
	//- #myCarousel.carousel.slide(data-ride='carousel')
	//- 	//- Carousel indicators were declared here
	//- 	ol.carousel-indicators
	//- 		each image in slider
	//- 			//- if image.order is equal to 0 the first indicator will have a class 'active'
	//- 			//- else it will not have a class 'active'
	//- 			if image.order == "0"
	//- 				li(data-target="#myCarousel" data-slide-to='#{image.order}' class="active")
	//- 			else 
	//- 				li(data-target="#myCarousel" data-slide-to='#{image.order}')

	//- 	//- Carousel proper - the images will be loop in the slider queried from the controller
	//- 	div(class="carousel-inner" role="listbox")
	//- 		each image in slider
	//- 			//- if image.order is equal to 0 the first indicator will have a class 'active'
	//- 			//- else it will not have a class 'active'
	//- 			if image.order == "0"
	//- 				div(class="item active")
	//- 					img(src='images/fiesta_banner.png')
	//- 					div(class="container")
	//- 						div(class="carousel-caption")
	//- 							!= image.caption
	//- 							if image.buttonText != ""
	//- 								a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText
	//- 			else 
	//- 				div(class="item")
	//- 					//- img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
	//- 					img(src=image._.heroImage.limit(1020,500))
	//- 					div(class="container")
	//- 						div(class="carousel-caption" style="text-align: right")
	//- 							h2= image.caption
	//- 							if image.buttonText != ""
	//- 								a(class="btn btn-lg btn-primary" href="#" role="button")= image.buttonText

	#myCarousel.carousel.slide(data-ride='carousel')
		//- Carousel indicators were declared here
		ol.carousel-indicators
			li(data-target="#myCarousel" data-slide-to='0' class="active")

		//- Carousel proper - the images will be loop in the slider queried from the controller
		div(class="carousel-inner" role="listbox")
			div(class="item active")
				img(src='/images/sipag_banner.png' width="1020" height="500")

	

	div(style='float:right; z-index:100; right:0px; top:100px; background-color:#EEE; width:40;height:40; padding:6px; position: fixed; border-radius:20px;')
		a(href='#')
			img( src="/images/community.png" height="30px")

	div(style='float:right; z-index:100; right:0px; top:150px;  position: fixed; ')
		form.search-form(action='')
			.form-group.has-feedback
				label.sr-only(for='search') Search
				input#search.form-control(type='text', name='search', placeholder='Search')
				span.glyphicon.glyphicon-search.form-control-feedback



	.container(style="margin-top: 30px")
		ul.nav.nav-tabs
			li.active
				a(data-toggle='tab', href='#about') About
			li
				a(data-toggle='tab', href='#program') Program
			li
				a(data-toggle='tab', href='#images') Images
			li
				a(data-toggle='tab', href='#videos') Videos
			li
				a(data-toggle='tab', href='#map') Map
		.tab-content
			#about.tab-pane.fade.in.active
				br
				p The DOST-PCAARRD Pushing the Best of the Strategic Industry S&T Program for Agri-Aqua Growth (SIPAG) through the Farms and Industry Encounters through the Science and Technology Agenda (FIESTA) will be held on March 2-4, 2016 at PCAARRD, Paseo de Valmayor, Timugan, Economic Garden, Los Baños, Laguna. The event will feature S&T breakthroughs, generated with PCAARRD partners and stakeholders, in a festive display of exhibits, actual technology demonstrations, and public fora.
			#program.tab-pane.fade
				center
					img(src='images/sipag-fiesta/sipag-programs/sipag_program1.png' width="900")
					img(src='images/sipag-fiesta/sipag-programs/sipag_program2.png' width="900")
					img(src='images/sipag-fiesta/sipag-programs/sipag_program3.png' width="900")
			#images.tab-pane.fade
				center
					img(src='images/sipag-fiesta/sipag-images/sipag1.png' width="250" height="170")
					img(src='images/sipag-fiesta/sipag-images/sipag2.png' width="250" height="170")
					img(src='images/sipag-fiesta/sipag-images/sipag3.png' width="250" height="170")
					img(src='images/sipag-fiesta/sipag-images/sipag4.png' width="250" height="170")
					img(src='images/sipag-fiesta/sipag-images/sipag5.png' width="250" height="170")
					img(src='images/sipag-fiesta/sipag-images/sipag6.png' width="250" height="170")
			#videos.tab-pane.fade
				.jumbotron
					.container: .row
						.col-sm-6
							.h3 Pushing the Best of the Strategic Industry Science and Technology Program for Agri-Aqua Growth (SIPAG) through FIESTA
								
							
							br

							a(class="btn btn-lg btn-warning" href="#" role="button") Register Now

						.col-sm-6
							<iframe src="https://www.youtube.com/embed/YBx_Ypr2g_E" width="560" height="315" frameborder="0" allowfullscreen=""></iframe>
			#map.tab-pane.fade
				center
					img(src='images/sipag-fiesta/sipag_map.png' width="900")