extends ../layouts/default

block content

	div(id="myCarousel" class="carousel slide" data-ride="carousel")
		<ol class="carousel-indicators">
		li(data-target="#myCarousel" data-slide-to="0" class="active")
		li(data-target="#myCarousel" data-slide-to="1" class="")
		li(data-target="#myCarousel" data-slide-to="2" class="")
		</ol>

		div(class="carousel-inner" role="listbox")
			div(class="item active")
				img(class="first-slide" src="/images/slider/1.jpg" alt="First slide")
				div(class="container")
					div(class="carousel-caption")
						h1 Example headline.
						p Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
						p <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>

			div(class="item")
				img(class="second-slide" src="/images/slider/2.jpg" alt="Second slide")
				div(class="container")
					div(class="carousel-caption")
						h1 Example headline.
						p Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
						p <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>

			div(class="item")
				img(class="third-slide" src="/images/slider/3.jpg" alt="Third slide")
				div(class="container")
					div(class="carousel-caption")
						h1 Example headline.
						p Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
						p <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
			
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
			</a>


	.container: .jumbotron
		img(src='/images/logo.png')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>aroinand@gmail.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.



