mixin search(action)
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="search-nav" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .collapse.navbar-collapse(id="search-nav")
          form.navbar-form.navbar-right(method="get")
            input(type='hidden', name='action',  value='elearning.search')
            .form-group
              input.form-control(type="text", placeholder="Search Elearning...", name="search", value=formData.searchKey)
            button.btn.btn-default(type="submit") Go!

mixin searchResults(searchResults)
     .elearning-page-header
          h3.text-left Search Results (#{searchResults.length}) #[a(href=previousUrl) #[small(data-toggle="tooltip" data-placement="bottom" title=previousUrl) Go back..]]
        .row
          if searchResults.length
            .col-md-9
              .panel
                table.table.table-hover
                  thead
                  tbody
                    each searchResult in searchResults
                      +learning-content-tr-media(searchResult, searchResult.url)
                
          else
            h4.text-muted There are no lessons regarding this.