extends ../../layouts/community

block css

block content
  
  include community-public.jade
                  
block js
  script(src="/bower_components/moment/moment.js")
  script(src='/bower_components/theia-sticky-sidebar/dist/ResizeSensor.js')
  script(src='/bower_components/theia-sticky-sidebar/dist/theia-sticky-sidebar.js')
  script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
  script(src='/bower_components/imagesloaded/imagesloaded.pkgd.js')
  script(src='/js/dropdown.js')
  script(src='/js/community-public.js')
