extends ../../layouts/community

block content

  .community-body
    //- NAVBAR
    div#community-nav
      ol.breadcrumb.community-breadcrumb
        li
          a(href="/") Home
        li
          | Community

      #user-login-links
        if user
          //- if user.canAccessKeystone
            //- li: a(href='/keystone') Open Keystone
          span.user-name #{user.name.full}&nbsp;&nbsp;
          i.fa.fa-bell-o(aria-hidden="true") &nbsp;&nbsp;&nbsp;&nbsp;
          a(href='/keystone/signout', class="not-active login-link") Sign Out
        else
          a(href='/keystone/signin?from=/community', class="not-active login-link") Sign In
    //- END NAVBAR


    .container.margin-top
      .row
        .col-md-8
          | publications go here
        .col-md-4
          | sidebar goes here