extends ./eresources

block publications
  .row
    each publication in publications
      .col-xs-12
        .thumbnail
          .publication-col-list
            .cover
              img(src=publication._.cover.fit(100, 180, {}))

            .details
              h3
                small #{publication.get('title.trunc')}
              p #{publication.description}