extends ../../../layouts/elearning

mixin feedbackForm(action)
  if user
    form(method='post').form-horizontal
      input(type='hidden', name='action', value='contact')
      .form-group(class=validationErrors.feedbackType ? 'has-error' : null required)
        label.col-sm-2.control-label Regarding
        .col-sm-10
          select(name='feedbackType').form-control
            option(value='') (required)
            each type in feedbackTypes
              option(value=type.value selected=formData.feedbackType === type.value)= type.label
      .form-group(class=validationErrors.message ? 'has-error' : null)
        label.col-sm-2.control-label Message
        .col-sm-10
          textarea(name='message' placeholder='Leave us a message...' rows=4 required).form-control= formData.message
      .form-group
        .col-sm-10.col-sm-offset-2
          button(type='submit').btn.btn-primary Submit
  else
    a.btn.btn-link(href='/keystone/signin?from=' + loginRedirect) Sign In to Give a Feedback.

block content
  .row
    .col-md-3.col-sm-4.dashboard
      +user-sidenav(section)
    .col-md-7.col-sm-4  
      .panel.panel-default.col-md-offset-2
        .panel-body
          .elearning-page-header
            h3 Feedback
              #[small Give us a feedback with your ELearning Experience!]
          +feedbackForm()    
  