extends ../../layouts/admin-default

block content

    .container-fluid
        .row    
            .col-sm-5.col-md-2
                p
            .col-md-9
                ol.breadcrumb
                    li.active Blog Posts
                    li
                        a(href='#') Trainings
                    li 
                        a(href='#') Events
                    li 
                        a(href='#') Discussions
                    li
                        a(href='#') Discussion Comments
                    li 
                        a(href='#') Links
                    li 
                        a(href='#') Galleries
                    li 
                        a(href='#') Videos
                    li 
                        a(href='#') Memos