extends ../../layouts/admin-layout

block content
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    nav.cm-navbar.cm-navbar-default.cm-navbar-slideup
      .cm-flex
        .cm-breadcrumb-container
          ol.breadcrumb
            li.active
              a(href='#') FIESTA
            li
              a(href='/admin/technologies') Technologies
            li
              a(href='/admin/sliders') Sliders
  .jumbotron
      p No fiesta found...
      a.btn.btn-lg.btn-success(href='#', role='button') + Create FIESTA