extends ../../layouts/admin-default

block content
  .row
    .col-sm-9.col-sm-offset-7.col-md-10.col-md-offset-2.main
      .jumbotron
          p No fiesta found...
          a.btn.btn-lg.btn-success(href='#', role='button') + Create FIESTA