extends ../../layouts/admin-default

block content

    .container-fluid
        .row    
            .col-sm-5.col-md-2
                p
            .col-md-9
                .page-header
                    h2 DPITC Content Management System
                