extends ../../layouts/admin-default

block content

    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-2.main
                .page-header
<<<<<<< HEAD

=======
                
>>>>>>> 98c830dbac373d2c360d04f50d7c4febf807f439
                    h2 DPITC Content Management System
