extends ../../layouts/admin-default

block content
    .row
        .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
            form.form-group.row(method='post')
                .row
                    .col-md-7
                        input.form-control.input-lg(type='text', value= data.lindustries.name, placeholder='Name')
                h5.help-block #{'Key: ' + data.lindustries.key}
                h5.help-block #{'ID: ' + data.lindustries._id}
                button.btn.btn-primary(type='submit') Save   