extends ../../layouts/admin-default

block content

    .container-fluid
        .row    
            .col-sm-5.col-md-2
                p
            .col-md-9
                ol.breadcrumb
                    li.active Publications Settings
                    li
                        a(href='#') Publications
                    li 
                        a(href='#') Publication Lines