extends ../../../layouts/elearning

mixin currentCourse-grid(outline)
  .row.equal-height    
    if outline.length
      each item in outline
        .col-xs-6.col-md-3
          +learning-object-card(item, item.url)
    else
      h3.text-muted There are no lessons in this course yet.

mixin currentCourse-list(outline)
  .row
    if outline.length
      .col-md-9
        .panel
          table.table.table-hover
            thead
            tbody
              each item in outline
                +learning-object-tr-media(item, item.url)
    else
      h3.text-muted There are no lessons in this course yet.


block content
  +search()
  
  .container
    .panel.panel-default
      .panel-body
        .row
          .col-md-6.col-xs-6
            h3.text-left All Lessons in #{currentCourse.title}
          .col-md-6.col-xs-6
            +sort-view()
        .row
          if currentCourse.thumbnail.exists
            .col-md-8
              span !{currentCourse.content.extended}
            .col-md-4
              +img-available-rounded(currentCourse._.thumbnail.limit(300, 300), currentCourse.title, 300, 300)
          else
            span !{currentCourse.content.extended}
        hr
        .row
          if viewStyle == 'grid'
            +currentCourse-grid(outline)
          else
            +currentCourse-list(outline)
      