extends ../../layouts/community

block content

  .community-body
    #eresources-content
      .container
        .row
          .col-md-9
            | publications

          .col-md-3
            | categories
