extends ../../layouts/eresources

block content

  .community-body
    #eresources-content
      .container(style="margin-bottom: 20px;")
        .row
          .col-md-12
            h2 Review #{title}
          .col-md-12
            form(method='POST')
              label(for='content-rating') Content
              .radio#content-rating
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Outstanding
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Very Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Fair
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Unsatisfactory / Needs Improvement

              label(for='content-rating') Usefulness / Significance
              .radio#content-rating
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Outstanding
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Very Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Fair
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Unsatisfactory / Needs Improvement

              label(for='content-rating') Overall Layout / Design
              .radio#content-rating
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Outstanding
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Very Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Fair
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Unsatisfactory / Needs Improvement

              label(for='content-rating') Download Time
              .radio#content-rating
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Outstanding
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Very Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Satisfactory
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Fair
                label(style="margin-right: 15px;")
                  input(type='radio',name='content')
                  | Unsatisfactory / Needs Improvement
