extends ./publications

block publications
  .row
    each publication in data.publications
      .col-xs-12
        .thumbnail
          .publication-col-list
            a(href="/eresources/publication/"+publication._id)
              .cover
                img(src=publication._.cover.fit(100, 180, {}))

              .details
                h4(style='margin:0') #{publication.get('title')}
                h5(style='margin:0') #{publication.publicationType}
                small #{publication.get('description.trunc')}