extends ./publications

block publications
  .row
    each publication in publications
      .col-sm-6.col-md-3
        .thumbnail
          .publication-col-grid
            a(href="/eresources/publication/"+publication._id)
              .cover
                img(src=publication._.cover.fit(100, 180, {}))
              .title
                h3
                  small #{publication.get('title.trunc')}