extends ./publications

block publications
  .row
    each publication in publications
      .col-xs-12
        //- .thumbnail
        .publication-col-list
          .cover
            a(href="/eresources/publication/"+publication._id)
              img(src=publication._.cover.fit(100, 180, {}))

          .details
            a(href="/eresources/publication/"+publication._id)
              h4 #{publication.get('title.trunc')}
            p #{publication.get('description.trunc')}
            .publication-meta
              | Type: #{publication.publicationType}