extends ../../layouts/community

block content

  .community-body
    #eresources-content
<<<<<<< HEAD
      .container
        .row
          .xs

=======
>>>>>>> dfaffa32d955f3d169b204ba911b027fd6c9bc18
      | Pub content goes here
      | #{publication.title}
