/*
#header {
  margin-top: 30px;
}
*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-style1{
  /*position: absolute;*/
  z-index: 8;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  /*background: rgba(20,20,20,0.3);*/
  /*background: rgba(48, 48, 48, 1);*/
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-brand{
  padding: 0px;
  margin-top: 0px;
  
}

.links{
  font-size: 14px;
  margin-top: 25px;
}

.not-active{
  color: black; 
}

.active{
  color: black; 
  font-weight: bold;
}

.nav>li>a.active:hover, .nav>li>a.active:focus { 
  text-decoration: none;
  color: gray;
  background-color: transparent;
}

.nav>li>a.not-active:hover, .nav>li>a.not-active:focus { 
  text-decoration: none;
  color: gray;
  background-color: transparent;
}

.nav>li>a.btn-primary:hover, .nav>li>a.btn-primary:focus{
  text-decoration: none;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
} 

.jumbotron{
  margin-bottom: 0px;
}

#footer {
	position: absolute;
  margin-top: 600px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.no-padding{
	padding: 0px;
}

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  //padding-bottom: 50px;
  top: 20px;
  left: 30px;
  width: 95%;
  padding: 5px;
  //background-color: rgba(0, 0, 0, 0.1);
  //text-align: left;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption > h2 {
  margin-top: 10px;
  color: black;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.slick-prev:before, .slick-next:before { 
    color:green !important;
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 30px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 30px;
}


.exhibit-container{
  display: table;
  display: inline-block;
  padding: 1%;
  /*margin: 0.5% 2.4%;
  width: 95%;*/
  background-color: rgba(0, 0, 0, 0.95);
  /* background-image: url("../img/exhibits/sliderbg.png"); */
}

.exhibit-content{
  display: column;
  padding-top:0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#content-current{
  width: 58%;
  padding: 1%;
  float:left;
}

#content-text{
  padding: 0px;
  width: 35%;
  margin-left: 1%;
  color: white;
  float:left;
  text-align: left;
}

.thumbnails{
  overflow-y: auto;
  float:right;
  max-height:25%;
  width: 100%;
  margin-left:1%;
  padding: 1%;
}

.thumbnail-content{
  height:15%;
  margin-left:1vh;
  width: 23%;
  opacity: 0.3;
}

.current-img{
  opacity: 1;
}

#main-img{
  margin-left:1%;
  width:96%;
  height:80%;
}

#event-title{
  margin-bottom:0;
  margin-top:0%;
  color: #42A5F5;
}

#event-text{
  padding: 2%;
}

.btn-see-more{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2%;
  color: white;
  display: inline-block;
  width: 50%;
  margin-top: 2%;
  align-self: center;;
  cursor: pointer;
}

.btn-see-more h5{
  color:white;
  margin: 10px 0px 10px 0px;
}

.btn-see-more h5:hover{
  color: #42A5F5;
}

#btn-see-more-inner {
  border: solid 1px #42A5F5;
  height: 100%;
  text-align: center;
  padding-bottom: 5px;
}

#btn-see-more-inner:hover{
  border: solid 1px #ffffff;
}

#exhibit-lists{
	margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    .container {
		    padding: 2px 16px;
		}
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.top-space{
	margin-top: 20px;
}

#community_block{
	margin-top: -20px;
	position: relative;

	.community-caption{
	  background-color: rgba(0, 0, 0, 0.1);
	  text-align: left;
	}
	.community-caption > h2{
	  position: absolute;
	  color: white;
	  left: 100px;
	  top: 150px;
	  //background-color: rgba(0, 0, 0, 0.1);
	  //text-align: left;
	}
	.community-caption > h4{
	  position: absolute;
	  color: white;
	  left: 100px;
	  top: 200px;
	  //background-color: rgba(0, 0, 0, 0.1);
	  //text-align: left;
	}

}

.page-footer {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white;
  padding-top: 1%;
	position: relative;
}

.page-footer li {
  list-style: none;
  padding: 1%;
}

.page-footer h5 {
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
  display: block;
  display: block;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 2.2rem;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.page-footer li a, .page-footer p{
  color: white;
  font-size: 1.2em;
}

.page-footer ul {
  list-style: none;
  padding: 0px;
}

.white-text{
	color: white;
}

.footer-copyright {
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 1.5) !important;
}

#versionbutton {
  background-color: #FFC131;
  color: #484848;
  font-size: 14px;
  font-weight: bold;
  margin-top: -20px;
  height: 40px;
  width: 160px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}
#versionbutton:hover, #versionbutton:active {
    background-color: #2A2A2A;
    color: white;
    cursor: pointer;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}

.social-sharing.fixed {
  position: fixed;
  float: left;
  z-index: 100;
  left: 0px;
  top: 100px;
  width: auto;
  list-style-type: none;
  padding-left: 0px;

}

.social-sharing.fixed li a {
    color: #ffe6c5;
    background: #ff9302;
    width: 52px;
    height: 52px;
    display: block;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 1px;
    font-size: 25px;
}   

.social-sharing.fixed li.title {
    color: #ffe6c5;
    background: #ff9302;
    width: 52px;
    height: 52px;
    display: block;
    text-align: center;
    padding-top: 6px;
    line-height: 20px;
    margin-bottom: 1px;
    font-size: 13px;
    margin-bottom: 14px;
    position: relative;
}

.social-sharing.fixed li.title .arrow {
    position: absolute;
    bottom: -5px;
    margin-left: -5px;
    left: 50%;
}


.social-sharing.fixed li.community a {
    width: 52px;
    background: #eee;
}

.social-sharing.fixed li.community a:hover {
    width: 70px;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
} 

.social-sharing.fixed li.facebook a {
		width: 52px;
    background: #3a55a0;
}

.social-sharing.fixed li.facebook a:hover {
    width: 70px;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
} 

.social-sharing.fixed li.twitter a {
    width: 52px;
    background: #51abf1;
}

.social-sharing.fixed li.twitter a:hover {
    width: 70px;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
} 

.social-sharing.fixed li.youtube a {
    width: 52px;
    background: #e52d27;
}

.social-sharing.fixed li.youtube a:hover {
    width: 70px;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
} 

.social-sharing.fixed li.newsletter a {
    width: 52px;
}

.social-sharing.fixed li.newsletter a:hover {
    width: 70px;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
} 

.social-sharing.fixed li i {
    color: #fff;
    padding-top: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}


#community_block {
    min-height: 137px;
    background-color: #252525;
    width: 100%;
    overflow: hidden;
    padding: 0 20px 65px;
}
#community_block > .container {
    padding: 0 15px;
}

#community_block .more-information {
    padding: 60px 140px 40px;
}
#community_block .more-information {
    border-bottom: 1px solid #646464;
    margin: 5px 0;
    padding: 60px 40px 40px;
    text-align: center;
}

#community_block .more-information > div >div > em {
    font-family: "Volkhov";
    color: #fff;
    font-size: 34px;
    font-style: normal;
    line-height: 40px;
}

#community_block .more-information span {
    display: block;
    color: #ff9300;
    font-size: 17px;
    margin-top: 3px;
}

#community_block .more-information .details-box {
    background-color: #454545;
    margin: 40px 0;
    padding: 0;
    position: relative;
}

#community_block .more-information .details-box > div {
    padding: 0;
}

#community_block p {
    margin-top: 26px;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}

#community_block .more-information .image, #community-block .more-information .description {
    max-width: 402px;
}

#community_block .more-information .details-box .description {
    padding: 12px 23px;
}

#community_block .more-information .details-box > div {
    padding: 0;
}
#community_block .more-information .image, #community_block.more-information .description {
    max-width: 402px;
}

#community_block .more-information .image, #community_block.more-information .description p {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}

#community_block .more-information .details-box .button {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 14px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ff9300;
}

#community_block .subscribe {
    max-width: 402px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe {
    margin-bottom: 32px;
}

#community_block h2, #community_block h2 em {
    color: #fff;
}

.subscribe h2, .translations h2, .share-block h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 23px;
}

#community_block .subscribe form {
    width: 400px;
    margin: auto;
}
.subscribe form {
    position: relative;
}

#community_block .subscribe form input {
    background-color: #252525;
    padding: 8px 10px 7px;
}
.subscribe form input {
    width: 100%;
    border: 1px solid #999;
    font-size: 16px;
    color: #999;
    font-weight: 100;
    padding: 7px 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.subscribe form .button {
    background: #fd9400;
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 42px;
    height: 42px;
    color: #fff;
    border: none;
    padding: 0;
}

.subscribe form .button i {
    color: #fff;
    position: relative;
    top: 5px;
    font-size: 12px;
    left: 1px;
}
