.stat
  .box
    .count #{post.reactions[0].count}
    div comments
  .box
    .count
      = Math.floor(Math.random() * 100)
    div views
.summary
  h3.media-heading
    - console.log(config)
    a(href= config.host + '/groups/' + post.groupBelonged + '/view-posts/question/' + post._id)= post.question
  if post.datePosted || post.postedBy.name
    p.text-muted.text-small
      if post.datePosted
        time= post.datePosted
        |  
      if post.postedBy.name
        span by #{post.postedBy.name}
  != post.description
