#public-analytics.row
  .section.col-md-8 
    .section-title.focus.row 
      .title.col-md-3.col-xs-3
        .skew.col-xs-12
        #temp.skewed-text Demographics
    #map.section-content
    
  .section.col-md-4
    .section-title.focus.row 
      .title.col-md-3.col-xs-3
        p Statistics
    #chart.section-content
