.container-fluid
  .row.full-row
    .col-md-7.image
      a(href="#")
        img(src='images/community/farmer-news.jpg').img-responsive
        .img-description
          span.badge.tag Agriculture
          p.title Farmer welfare and consumer health - keys to rice sector development
          br
          p.description Dr. Bruce Tolentino, IRRI deputy director general on communication and partnerships, leads the discussion during the rice working group panel of the 2017 Responsible Business Forum.
      
    .col-md-5.summary
      .col-md-12.sub-news
        a(href="#").image
          img(src='images/community/director-news.jpg').img-responsive
          .img-description
            span.badge.tag Agriculture
            p.title IRRI Director General receives honorary degree
      .col-md-12.sub-news
        a(href="#").image
          img(src='images/community/brri-news.jpg').img-responsive
          .img-description
            span.badge.tag Agriculture
            p.title BRRI and IRRI inaugurate Friendship Centre to achieve food security in Bangladesh
