.container-fluid
  .row.full-row
    .col-md-7.image
      a(href="#")
        img(src=news[0].image.secure_url).img-responsive.img-main
        .img-description
          span.badge.tag 
            = news[0].industry.name
          p.title 
            = news[0].title
          br
          p.description 
            = news[0].content.brief
      
    .col-md-5.summary
      .col-md-12.sub-news
        a(href="#").image
          img(src=news[1].image.secure_url).img-responsive
          .img-description
            span.badge.tag 
              = news[1].industry.name
            p.title 
              = news[1].title
      .col-md-12.sub-news
        a(href="#").image
          img(src=news[2].image.secure_url).img-responsive
          .img-description
            span.badge.tag 
              = news[2].industry.name
            p.title 
              = news[2].title
