.bar {
    fill: steelblue;
}
.bar:hover {
    fill: #c6e2ff;
}
.axis {
    font: 12px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.dashboard{
	border-left: 1px solid gray;
}

.centered-panel{
	background-color: #dff0e7;
}

.bg-grey{
  background-color: #eeeeee;
}