.bar {
    fill: steelblue;
}
.bar:hover {
    fill: #c6e2ff;
}
.axis {
    font: 12px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}

.dashboard{
	border-left: 1px solid gray;
}

.centered-panel{
	background-color: #c1d7e2;
}

.bg-grey{
  background-color: #eeeeee;
}

.user-prof{
  margin-bottom: 2%;
}

#userVisitsWorld{
  min-height: 400px;
  min-width: 310px;
  max-width: 900px;
  margin-bottom: 2%;
}

.highcharts-background{
  stroke-width: 0;
}


#allVisit{
  min-height: 320px;
  min-width: 310px;
  margin-bottom: 2%;
}


#userViewByISP{
  min-width: 310px;
  min-height: 350px;
  margin-bottom: 2%;
}

#allReactions{
  min-height: 400px;
  min-width: 310px;
  margin-bottom: 2%;
}

.white-bg{
  background-color: white;
}

#allComments{
  min-width: 310px;
  min-height: 350px;
  margin-bottom: 2%;
}

#popularperregion{
  min-height: 350px;
  min-width: 310px;
  margin-bottom: 2%;
}
.glyphicon-star{
  font-size: 20px;
  color: #F9E051;
}

.top-lo{
  width: 25%;
}

.col-md-3{
  padding: 0.5% 0.5% 0.5% 0.5%;
}

.col-md-3 .panel-body{
  min-height: 400px;
}
.panel{
  margin-bottom: 2%;
}
.col-md-6, .col-md-8, .col-md-12{
  padding: 0.5% 0.5% 0.5% 0.5%;
}
h5{
  margin-bottom: 5%;
}

#ratioVisit{
  min-height: 320px;
  max-width: 600px;
}

.well{
  margin-bottom: 4%;
}