.bar {
    fill: steelblue;
}
.bar:hover {
    fill: #c6e2ff;
}
.axis {
    font: 12px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color:  #3062B7;
  color: white;
}

.dashboard{
	border-left: 1px solid gray;
}

.centered-panel{
	background-color: #c1d7e2;
}

.bg-grey{
  background-color: #eeeeee;
}

.user-prof{
  margin-bottom: 2%;
}

#userVisitsWorld{
  height: 350px;
  min-width: 310px;
  margin-bottom: 3%;
}

.highcharts-background{
  stroke-width: 0;
}


#allVisit{
  height: 350px;
  min-width: 310px;
  margin-bottom: 3%;
}


#userViewByISP{
  min-width: 310px;
  height: 350px;
  margin-bottom: 3%;
}

#allReactions{
  height: 400px;
  min-width: 310px;
  margin-bottom: 3%;
}

.white-bg{
  background-color: white;
}

#allComments{
  min-width: 310px;
  height: 350px;
  margin-bottom: 3%;
}

#popularperregion{
  height: 350px;
  min-width: 310px;
  margin-bottom: 3%;
}
.glyphicon-star{
  font-size: 20px;
  color: #F9E051;
}

.top-lo{
  width: 25%;
}

.dashboard .col-md-3{
  padding: 0.5% 0.5% 0.5% 0.5%;
}

.dashboard .col-md-3 .panel-body{
  min-height: 400px;
}
.dashboard .col-md-3 .media{
  margin-top: 1%;
}
.dashboard .col-md-6, .col-md-8, .col-md-12{
  padding: 0.5% 0.5% 0.5% 0.5%;
}