

#community_block .row,
#tech_block .row {
	 margin-top: 20px;
}

.tech-category {
	text-align: left;
	background: gray;
	margin: 23px 0px;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	font-size: 13px;
	font-family: "Arial Narrow";
}

#exhibit_block {
	 background: #1784fb;
}

#fiesta_block {
	 background: #fff;
	 margin-top:20px;
	 margin-bottom:50px;
}

.featured {
	 position: absolute;
	 z-index: 10;
	 background: #1784fb;
	 padding: 5px;
	 color: #fff;
	 text-align: center;
	 width: 100%;
} 

.fh5co-features-style-4 .fh5co-section-heading .fh5co-heading,
.fh5co-features-style-4 .fh5co-section-heading p {
	 color: #fff;
}

.fh5co-features-style-4 .fh5co-section-heading .fh5co-heading-fiesta,
.fh5co-features-style-4 .fh5co-section-heading p {
	 color: #000;
}

.fh5co-features-style-4 .fh5co-feature-item {
	 border-radius: 0px;
}

.fh5co-features-style-4 .fh5co-feature-item .fh5co-feature-img{
	 background: #fff;
}

.fh5co-project-style-3 .fh5co-project-item .fh5co-overlay{
	 background: #000;
}

.fh5co-project-style-3 .fh5co-project-item .fh5co-text{
	 height: 100%;
	 bottom: 0px;
}

.fh5co-project-style-3 .fh5co-project-item .fh5co-text h4 {
	 color: #fff;
}

.fh5co-project-style-3 .fh5co-project-item:hover h3, 
.fh5co-project-style-3 .fh5co-project-item:hover h4,
.fh5co-project-style-3 .fh5co-project-item:hover p{
	 text-decoration: none;
}


.fh5co-project-style-3-fiesta .fh5co-project-item .fh5co-overlay{
	 background: #000;
}

.fh5co-project-style-3-fiesta .fh5co-project-item .fh5co-text{
	 height: 100%;
	 bottom: 0px;
}

.fh5co-project-style-3-fiesta .fh5co-project-item .fh5co-text h4 {
	 color: #fff;
}

.fh5co-project-style-3-fiesta .fh5co-project-item:hover h3, 
.fh5co-project-style-3-fiesta .fh5co-project-item:hover h4,
.fh5co-project-style-3-fiesta .fh5co-project-item:hover p{
	 text-decoration: underline;
}

.fh5co-project-style-3{
	padding: 0px;
}


.header-toolbar {
	 height:35px;
	 width: 100%;
	 position: absolute;
	 z-index: 20;
}

.fh5co-project-style-3  .container .row .col-md-8 p{
	 color: #fff;
}

.fh5co-project-style-3  .container .row .col-md-8 p.fiesta{
	 color: #000;
}

.fh5co-project-style-3-fiesta  .container .row .col-md-8 p{
	 color: #000;
}

.tech-icon {
	 position: absolute;
	 top: 0;
	 right: 0;
	 margin: 10px;
	 width: 50px;
	 height: 50px;
	 background: #fff;
	 border-radius: 50%;
	 z-index: 0;
}

a#featured_video_btn {
	 background-color: orange;
	 border-color: orange;
		line-height: 36px;
		font-size: 20px;
}

.fh5co-content-style-9 {
	 padding-bottom: 0px;
}

.button-link{
	margin-bottom: 0px;
	margin-top: 20px;
}

p{
	margin-bottom: 0px;
}
