extends ../../layouts/elearning-admin

block css
  link(rel="stylesheet" type="text/css" href="/styles/analytics.css")
      
block content
  .analytics-body
    .row
      .col-md-3.col-sm-4.dashboard
        .sidebar-nav
          .navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              span.visible-xs.navbar-brand Menu
            .navbar-collapse.collapse.sidebar-navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/elearning/analytics') Dashboard
                li
                  a(href='/elearning/analytics/learning-objects/allindustries') Analytics of Learning Objects
                li
                  a(href='/elearning/analytics/users') Analytics of Users
                li.active
                  a(href='/elearning/analytics/recommendedViews') Analytics of Recommended Learning Objects
      .col-md-9.col-sm-4.dashboard
        h4 Analytics of Recommended Learning Objects
        .col-md-6.col-sm-4
          div(id="recommendedViewsGraph")
        .col-md-6.col-sm-4
          div(id="ratioViewsGraph")
  script(src='/js/elearning-graphs/recommendedViews.js')